NAMENODE_UI_HOST_PORT=9870
NAMENODE_RPC_HOST_PORT=9000
SPARK_MASTER_UI_HOST_PORT=18080
SPARK_MASTER_RPC_HOST_PORT=7077
SPARK_HISTORY_UI_HOST_PORT=18081
SPARK_WORKER1_UI_HOST_PORT=18082
SPARK_WORKER2_UI_HOST_PORT=18083
SPARK_WORKER3_UI_HOST_PORT=18084
SPARK_WORKER4_UI_HOST_PORT=18085
